var DocInjector = {
	init: function() {
		var that = this;
		$.each(this.data, function(i, docReference) {
			that.inject(docReference)
		});
	},
	data: <%= @data %>,
	inject: function(docReference) {
		var html = '<div><code>Octokit.rb: <a href="#" target="_blank">Octokit#' + docReference.method_name + '</a></code></div>';
		$(docReference.selector).after(html);
	}
};

$().ready(function() { DocInjector.init(); });
