var DocInjector = {
	init: function() {
		var that = this;
		var injected = [];
		$.each(this.data[window.location.pathname], function(i, docReference) {
			that.inject(docReference, injected)
		});
	},
	data: <%= @data %>,
	inject: function(docReference, injected) {
		var docBaseUrl = 'http://octokit.github.io/octokit.rb/';
		var html = '<div><code>Octokit.rb: <a href="' + docBaseUrl + docReference.octokit_doc_url + '" target="_blank">Octokit#' + docReference.method_name + '</a></code></div>';
		$.each(docReference.selectors, function(i, selector) {
			if (injected.indexOf(selector + '-' + docReference.method_name) === -1) {
				$(selector).after(html);
				injected.push(selector + '-' + docReference.method_name);
			}
		});
	}
};

$().ready(function() { DocInjector.init(); });
